.btn {
  display: block;
}

#suggestion1 {
  display: none;
}

#suggestion2 {
  display: none;
}

#suggestion3 {
  display: none;
}

#suggestion4 {
  display: none;
}

#suggestion5 {
  display: none;
}
